.search-results-list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.search-results-list .search-title{
	font-size: 1.25rem;
	color: #333333;
	font-weight: bold;
	margin-top:0.625rem;
}

.search-results-list ul{
	margin: 0;
	padding: 0;
}

.search-results-list ul li{
	border-top: 1px #f1f1f1 solid;
	margin-top: 0.9375rem;
	padding-top: 1rem;
	list-style: none;
}

.search-results-list ul li img{
	width: 4rem;
}

.search-results-list ul li .info{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.search-results-list ul li .info .book-detail{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 1.25rem;
}

.search-results-list ul li .info .book-detail span{
	font-size: 0.75rem;
	line-height: 1rem;
	max-height: 3rem;
	overflow: hidden;
	margin-bottom: 0.25rem;
	color: #333333;
}

.search-results-list ul li .info .book-detail span:first-child{
	font-size: 1rem;
	font-weight: bold;
	color: #4682B4;
	cursor: pointer;
}

.search-results-list ul li .info .book-detail span:last-child{
	text-align: right;
}

.search-results-list ul li .info .book-detail .title-operation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 0.5rem;
}


.search-results-list ul li .info .book-detail .title-operation .operation{
	display: flex;
	justify-items: center;
	align-items: center;
	margin-left: 0.75rem;
}

.search-results-list ul li .info .book-detail .title-operation .operation img{
	width: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}

.search-results-list ul li .info .book-detail .title-operation .operation img:hover{
	opacity: 0.5;
	transition: opacity 0.3s;
}

.search-results-list ul li .info .book-detail .title-operation .operation img:hover{
	opacity: 0.5;
	transition: opacity 0.3s;
}
