.modal input[type=text],
.modal input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 0.625rem;
}

.modal .btn-green {
	border: 1px solid green;
	border-radius: 4px;
	padding: 0.4rem 1.3rem;
	font-weight: bold;
	color: green;
	cursor: pointer;
	background-color: white;
	margin-right: 0.4rem;
}

.modal .btn-red {
	border: 1px solid red;
	border-radius: 4px;
	padding: 7.5px 15px;
	font-weight: bold;
	color: red;
	cursor: pointer;
	padding: 0.4rem 1.3rem;
	background-color: white;
}

.modal .container1 {
	padding: 30px 30px 10px 30px;
}

.modal .container2 {
	padding: 20px 30px 20px 30px;
	background-color: #f1f1f1;
}

.modal span.psw {
	float: right;
	padding-top: 16px;
}


.modal .row {
	margin-bottom: 1rem;
	width: 100%;
}

.modal .row span{
	font-size: 0.875rem;
	font-weight: bold;
	color: #222222;
}

.modal .title {
	color: mediumvioletred;
	margin-bottom: 2rem;
	font-weight: bolder;
	font-size: 1.3em;
}

.modal .title span {
	color: grey;
	font-size: 0.7em;
}

.modal select {
	border: 1px silver solid;
/* 	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none; */
	background-color: white;
	font-size: 0.875rem;
	margin-top: 0.125rem;
	cursor: pointer;
	padding: 0.1rem 0.2rem;
	margin-right: 1.5rem;
}

/* The Modal (background) */

.modal {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}


.form_checkboxbar {
	width: 100%;
	font-size: 0.9em;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.form_checkboxbar input[type=checkbox] {
	margin-right: 0.2rem;
	width: 1rem;
	height: 1rem;
}

.form_checkboxbar label {
	width: 8rem;
	height: 1.7rem;
	display: flex;
	align-items: center;

}


/* Modal Content/Box */

.modal .modal-content {
	max-width: 500px;
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border-radius: 1.25rem;
	width: 80%;
}


/* Add Zoom Animation */

.form_animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}

	to {
		-webkit-transform: scale(1)
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}

	.cancelbtn {
		width: 100%;
	}
}
