.search-results-list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.search-results-list .search-title{
	font-size: 1.25rem;
	color: #333333;
	font-weight: bold;
	margin-top:0.625rem;
}

.search-results-list ul{
	margin: 0;
	padding: 0;
}

.search-results-list ul li{
	border-top: 1px #f1f1f1 solid;
	margin-top: 0.9375rem;
	padding-top: 1rem;
	list-style: none;
}

.search-results-list ul li img{
	width: 4rem;
}

.search-results-list ul li .info{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.search-results-list ul li .info .book-detail{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 1.25rem;
	width: 56.25rem;
}

.search-results-list ul li .info .book-detail span{
	font-size: 0.75rem;
	line-height: 1rem;
	max-height: 3rem;
	overflow: hidden;
	margin-bottom: 0.25rem;
	color: #333333;
}

.search-results-list ul li .info .book-detail span:first-child{
	font-size: 1rem;
	font-weight: bold;
	color: #4682B4;
	cursor: pointer;
}

.search-results-list ul li .info .book-detail span:last-child{
	text-align: right;
}

.search-results-list ul li .info .book-detail .title-operation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 0.5rem;
}


.search-results-list ul li .info .book-detail .title-operation .operation{
	display: flex;
	justify-items: center;
	align-items: center;
	margin-left: 0.75rem;
}

.search-results-list ul li .info .book-detail .title-operation .operation img{
	width: 1rem;
}

.search-results-list ul li .info .book-detail .title-operation .operation span{
	margin: 0 0.5rem;
	font-size: 0.875rem;
	font-weight: bold;
	margin-right: 1rem;
}


.search-results-list .pages-bar{
	margin-top: 1.25rem;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 1.25rem 0;
}

.search-results-list .pages-bar div{
	list-style: none;
	margin-right: 0.625rem;
	font-size: 0.875rem;
	color: steelblue;
	cursor: pointer;
	font-weight: bold;
	padding: 0.125rem 0.25rem;
	border-radius: 0.3125rem;
	margin: 0.125rem;
}

.search-results-list .pages-bar div:hover{
	background-color: steelblue;
	cursor: pointer;
	color: white;
}


.search-results-list .pages-bar li{
	list-style: none;
	margin-right: 0.625rem;
	font-size: 0.875rem;
	color: mediumvioletred;
	cursor: pointer;
	font-weight: bold;
	padding: 0.125rem 0.25rem;
	border-radius: 0.3125rem;
	margin: 0.125rem;
}

.search-results-list .pages-bar .selected{
	color: #222222;
	pointer-events: none;
}

.search-results-list .pages-bar li:hover{
	background-color: mediumvioletred;
	cursor: pointer;
	color: white;
}

.search-results-list .pages-bar span{
	font-size: 0.875rem;
	color: steelblue;
}